body{

}
.headerl{
text-align: center;
padding-top: 5px;
font-size: 20px;
background-color: rgba(50, 168, 66);
}

.headerr{
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  background-color: rgba(50, 168, 66);


}

p{


}
a{
  color: black;
text-decoration: none;
  color: white;
  font-size: 20px;

}

.navbar-brand{
  margin-left: 90px;

}

.navbar-nav{
  margin-left: 480px;
}
 .Logo-img{

 }

 .nav-item{
   padding: 10px;
 }

 .btn-group{
  border-radius: 10%;
   margin-top: 10px;
 }

#carouselExampleCaptions {
  height: 600px;
}

.carousel-item{
  height: 600px;
}

.d-block {
  height: 600px;
}

.carousel-control-prev-icon{
  background-color: black;
}
.carousel-control-next-icon{
  background-color: black;
}
.help{
  margin-left: 25%;
  align-self: center;
  width: 50em;
  margin-top: 120px;
  text-align: center;
}
h1{
  margin-top: 50px;
}

h3{
  font-size: 20px;
}

.info1-text{
  text-align: center;
  font-size: 20px;
  padding-left: 80px;
}

.row{
  margin-top: 30px;
}

.our-services{
  padding-top: 100px;
  background-color: grey;
  text-align: center;
}

.mycontent1{
  border-right: 1px dashed #333;
}

.lastService{

  margin-top: 60px;

}

.fects{
  margin-top: 30px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-section{
  background-color: grey;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  border-radius: 5%;
}

.middle-section{
  border-radius: 5%;
  background-color: grey;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.bottom-section{
  border-radius: 5%;
  background-color:grey;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.person{
  align-self: center;
  border-radius: 30%;
  width: 100px;
  padding-left: 20px;
}

.feedback{
  text-align: center;
  margin-top: 90px;
  margin-left: 100px;
  margin-right: 100px;
}

.Person{
  border-radius: 10%;
  background-color: #D3D3D3;
  padding-left: 50px;
}

.testimonials{
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}

hr{
  margin-top: 20px;
}

#footer{
  background-color:rgba(50, 168, 66);
  padding-top: 30px;
  margin-top: 60px;
  padding-bottom: 20px;
}

#ul_top_hypers li {
    display: inline;
}

h6{
  padding: 10px;
}

.carousel-caption{
  font-weight: bold;
  margin-bottom: 400px;

}

.About-why{
  text-align: center;
}

.feature-box{
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 100px;
  background-color: #B8B8B8;
  position: relative;
border-radius: 10%;
}


.info-box{

  margin-top: 40px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 80px;
}
.head-box{

  background-color: #00FFFF;
  padding: 20px;

}

.main-body{
  margin-top: 30px;
}

.summary-section{
  font-size: 20px;
}
